.container-task {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1361px;
  height: 136px;
  margin-top: 80px;
  background-color: #f5f5f5;
  border-radius: 16px;
  padding: 32px 48px;
}

#task-active {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1361px;
  height: 136px;
  margin-top: 20px;
  background-color: #f5f5f5;
  border-radius: 16px;
  padding: 32px 48px;
  color: #4b4b4b;
  font-size: 32px;
  font-weight: 700;
}

ul {
  color: white;
}

li {
  color: white;
}
